<section ng-controller="listPostsController">
<span ng-init="carregarPosts()"/>
                            <!-- BLOG POST -->

                            <div class="blog_post margbot50 clearfix" data-animated="fadeInUp" ng-repeat="(key, value) in arrPosts">

                                <div class="blog_post_img">

                                    <img

                                        src="images/blog/1.jpg"

                                        alt=""

                                        ng-src="{{value.thumbnail_images.full.url}}"

                                    />

                                    <a class="zoom" href="#post/{{value.id}}" ng-click="getPost(value.id)" ></a>

                                </div>

                                <div class="blog_post_descr">

                                    <div class="blog_post_date">{{value.date}}</div>

                                    <a class="blog_post_title" href="#!post/{{value.id}}" ng-click="getPost(value.id)" >{{value.title}}</a>

                                    <ul class="blog_post_info">

                                        <li><a href="javascript:void(0);" >ArPlus</a></li>

                                        <li><a href="javascript:void(0);" >{{value.comment_count}} Comentários</a></li>

                                    </ul>

                                    <hr>

                                    <div class="blog_post_content" ng-bind-html="value.content"></div>

                                    <a class="read_more_btn" href="javascript:void(0);" ng-click="getPost(value.id)" >Leia Mais</a>

                                </div>

                            </div><!-- //BLOG POST -->











                            <!-- PAGINATION -->

                            <ul class="pagination clearfix">



                                <li class="active"><a href="javascript:void(0);" ng-click="carregarMais()" >Ver Mais</a></li>



                            </ul><!-- //PAGINATION -->



</section>