
                            <!-- SINGLE BLOG POST -->
                            <div class="single_blog_post clearfix" data-animated="fadeInUp">

                                <div class="single_blog_post_descr">

                                    <div class="single_blog_post_date">{{objPost.date}}</div>

                                    <div class="single_blog_post_title">{{objPost.title}}</div>

                                    <ul class="single_blog_post_info">

                                        <li><a href="javascript:void(0);" >{{objPost.author.name}}</a></li>

                                        <li><a href="javascript:void(0);" >{{objPost.comment_count}} Comentários</a></li>

                                    </ul>

                                </div>

                                <div class="single_blog_post_img"><img src="images/blog/1.jpg" alt="" ng-src="{{objPost.thumbnail}}" /></div>



                                <div class="single_blog_post_content" ng-bind-html="objPost.content">



                                </div>
                            </div><!-- //SINGLE BLOG POST -->

